* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
    font-size: 2.5rem;
}

.cards img {
    color: white;
}

blockquote,
figcaption {
    color: white;
    font-size: 3rem;
    margin-top: 10rem;
    padding-left: 13rem;
    text-align-last: left;
    font-family: "Montserrat";
    font-weight: 400;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
}

h4,
h5 {
    font-size: 2rem;
}

.main-head ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.active {
    background-color: #717171;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.main-head {
    width: 100%;
    margin: 0 0 0 auto;
    background: linear-gradient(rgba(0, 0, 0, 0.9), transparent),
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-height: 10vh;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.89);
}

nav .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex: 1 1 10rem;
    color: WHITE;
    font-size: 4REM;
    font-family: 'Times New Roman', Times, serif;
    padding: 2rem;
    padding-top: 3rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex: 1 1 40rem;
    margin: 2rem;
}

.t1 {
    display: flex;
    flex-direction: row;
    background: #FFF4E2;
}

.txtb {
    text-align: center;
    font-size: 2rem;
    padding: 6rem;
    margin: 3rem;
}

#rect1 {
    width: 30%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.507);
    position: absolute;
    top: 53%;
    left: 60%;

}

#quote {
    width: 70%;
    height: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    letter-spacing: 0.125rem;
    line-height: 1.3;
    font-weight: 500;
    color: aliceblue;
}

.t2 {
    margin: 3rem;
}

.t21 h1 {
    padding: 2rem;
    font-size: 4rem;
}

.t21 h1 {
    padding: 2rem;
    font-size: 4rem;
    color: yellow;
}

.t22 h1 {
    padding: 2rem;
    font-size: 4rem;
    color: yellow;
}

p {
    padding: 2rem;
}

.t21 {
    background: #FB2576;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 2rem;
}

.t22 {
    background: #3F0071;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0;
    padding-bottom: 2rem;
}

/* FOOTER */
footer {
    color: white;
    background: #000000;
}

.footer-wrapper {
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
}

footer h5 {
    flex: 1 1 40rem;
}

footer ul {
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
}

.mcont {
    max-height: 100vh;
}